h1 {
    color: #33cc33;
    letter-spacing: 3px;
    font-size:44px;
    line-height: 50px
  }
  h2 {
    color: orange;
    letter-spacing: 2px;
    font-size:32px;
    line-height: 40px
  }
  h3 {
    color: turquoise;
    letter-spacing: 3px;
    font-size:24px;
    line-height:30px
  }
  
  body {
    background-color: rgba(128, 128, 128, 0.68);
    color: black;
    font-family: Monospace;
    font-size: 14px;
    line-height: 20px;
    padding: 30px;
  }
  
  a { 
    color: black;
    font-family: Monospace;
    font-size: 14px;
    line-height: 20px
  }